
@import "tailwindcss";




@theme{
    --color-dark-gray: #212121 ; /*grigio scuro */
    --color-light-gray:  #D2D7D9; /*grigio chiaro */
    --color-dark-cyan: #0433BF;
    --color-light-cyan: #0889A6;
    --color-white: #FFFFFF;
    --color-black: #1E2426;
    --color-magenta: #8C1B24;
    --color-white: #FFFDFD;

}




/* HEADER */

.navigation {
    position: absolute;
    width: 100%;
    height: 100vh;
   
    top: 0;
    left: 0;
   
  background-color: none;
    transform: scale(0);
    transform-origin: top right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
    transition-property: transform, opacity;
    transition-duration: .5s;

 

  }

  .open-nav {
   
    transform: scale(1);
   
  }

@media (min-width:600px) {

    .navigation {
     position: relative;
     z-index: auto;
     width:auto;
     height: 4rem;

     transform: none;
    background: none;
    flex-direction: row;
    z-index: 10;
    
    
    }

}





